.allinone {
  margin-top: 150px;
  text-align: center;
  .box {
    background: url("/assets/images/particles.svg") no-repeat;
    background-position: 42% 19%;
  }
  h3 {
    font-family: $second-font;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #b4b4b4;
    text-align: center;
    text-transform: uppercase;
  }
  h4 {
    font-family: $second-font;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    color: #4d4d4d;
    text-transform: uppercase;
  }
  .images {
    position: relative;
    img {
      @media screen and (max-width: 768px) {
        max-width: 100%;
      }
    }
    .card {
      position: absolute;
      left: 0;
      top: 70px;
      @media screen and (max-width: 768px) {
        width: 75px;
      }
    }
    .iphone {
      position: absolute;
      right: 0;
      top: 50px;
      @media screen and (max-width: 768px) {
        width: 75px;
      }
    }
  }
}
